#bottom_nav_line{
    position: fixed;
    display: flex;
    justify-content: space-around;
    height: 6vh;
    background-color: rgba(59, 167, 230, 0.178);
    z-index: 50;
    width: 98%;
    top: 94vh;
    align-items: center;
    padding: 0px;
    font-family: 'Neucha';
}
li.bottom{
all: unset;

}
#bottom_nav_line:hover{
    background-color: rgba(4, 0, 66, 0.589);
}
.bottom{
    display: flex;
    background-color: rgba(72, 25, 202, 0.178);
    width: 10vw;
    height: 90%;
    align-items: center;
    margin: 0px;
    text-decoration: unset;
    color: white;
    justify-content: center;
}
.bottom:hover{
    background-color: rgb(4, 0, 58);
}

img.right{
    height: 25vw;
    margin: 1vmax;
    float: right;
}
img.left{
    height: 25vw;
    margin: 1vmax;
    float: left;
}
ul.colors{
    all:unset;
    color: black;
}

