{% extends 'base.html' %}
{% load static %}
{% block title %}Каталог челленджей{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">{% endblock %}
{% block main_content %}
<main>
    <nav>
        <p>Сортировать каталог</p>
        <form action="{% url 'main:catalog' %}" method="GET">
        {% csrf_token %} 
        <fieldset>
            <legend>Статус челленджa</legend>
            {{ filter_form.status1 }}
            {{ filter_form.status1.label_tag }}
            <br/>
            {{ filter_form.status2 }}
            {{ filter_form.status2.label_tag }}
            <br/>
            {{ filter_form.status3 }}
            {{ filter_form.status3.label_tag }}
        </fieldset>
        <fieldset id="duration">
            <legend>Длительность</legend>
            От {{ filter_form.duration_min }} до {{ filter_form.duration_max }} дней
        </fieldset>
        <button type="submt" class="submit_button">Сортировать</button>
        </form>
    </nav>
    <section>
        {% for ch in latest_challenges_list%}
        <article class="challenge_article" style=
            {% if ch.avatar_url%}
                "background-image: url('{{ch.avatar_url}}')"
            {% else %}
                "background-image: url('https://img5.goodfon.com/wallpaper/nbig/4/27/anime-art-kakegurui-devushka-vzgliad-karty.jpg')"
            {% endif %}>
            <header><a href="{% url 'challenge' ch.id %}">{{ ch.name }}</a> </header>
            <article>
                <p>Дата начала челленджa: <time>{{ ch.start_date }}</time></p>
                <p>Длительность: {{ ch.recruitment_time }} дней</p>
                <p>Количество зарегестрированных участников: {{ ch.users_count }}</p>
                <p>Статус: <span class="{{ ch.challenge_status_en }}">{{ ch.challenge_status }}</span></p>
            </article>
        </article>
        {% endfor %}
        <div id="pagination">
            <ul>
                <li id="first">1</li>
                <li id="prev">Назад</li>
                <li id="current_page">{{ page.current_page }}</li>
                <li id="next">Вперед</li>
                <li id="last">{{ page.last_page }}</li>
            </ul>
        </div>
    </section>
</main>
{% endblock %}

{% block scripts%}
<script>
    loc = location.protocol + '//' + location.host + location.pathname
    current_page = document.getElementById("current_page").innerHTML
    last_page = document.getElementById("last").innerHTML

    if (current_page == 1) {
        document.getElementById("prev").classList.add("deactive_page_button")
    }
    else {
        document.getElementById("prev").onclick = function () {
            document.location.href = loc + '?page=' + --current_page
        }
    }
    if (current_page == last_page){
        document.getElementById("next").classList.add("deactive_page_button")
    }
    else{
        document.getElementById("next").onclick = function () {
            document.location.href = loc + '?page=' + ++current_page
        }
    }
    document.getElementById("first").onclick = function () {
        document.location.href = loc
    }
    document.getElementById("last").onclick = function () {
        document.location.href = loc + '?page=' + last_page
    }



    min_duration = $("#duration input")[0]
    max_duration = $("#duration input")[1]
    $("#duration input").bind("keyup mouseup", check_duration_inputs)

    function check_duration_inputs(){
        if (min_duration.value === "" || max_duration.value === ""){
            return
        }
        if (min_duration.value > max_duration.value){
            max_duration.value = min_duration.value
        }
    }
</script>
{% endblock %}