{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/challenge.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">{% endblock %}


{% block main_content %}
<main>
    <nav class="nav-left-bar">
    {% if user.is_authenticated %}
        {% if challenge_status == 'Идет набор'%}
            <figure id="participate_button">
                {% if isparticipated == True %}
                <div class="select_challenge_button">
                    <img src="{% static 'imgs/participate_ok.png' %}" alt="">
                </div>
                {% elif isparticipated == 'banned' %}
                    <p> Организатор запретил вам участие в этом челлендже </p>
                {% else %}
                <div class="select_challenge_button">
                    <img src="{% static 'imgs/participate.svg' %}" alt="">
                </div>
                <p>Участвовать</p>
                {% endif %}
            </figure>
        {% else %}
            <p>Набор окончен</p>
        {% endif %}
    {% else %}
        <p>Для участия необходимо войти в аккаунт</p>
    {% endif %}

    </nav>
    <section class="main-block"> 
        {% if user_role == 'creator'%}
            <div class="creator_edit_menu">
                <div id="delete_challenge" class="creator_edit_menu_button">Удалить челлендж</div>
                <div id="edit_users" class="creator_edit_menu_button">Управление участниками</div>
            </div>
        {% endif %}
        <div class="challenge__img"><img src="
            {% if avatar_url %}
                {{avatar_url}}
            {% else %}
                https://img5.goodfon.com/wallpaper/nbig/4/27/anime-art-kakegurui-devushka-vzgliad-karty.jpg
            {% endif %}
        " alt="art"></div>
        <h2 class="heading2" style="display: inline-block;">{{title}}</h2>
        <p>Дата регистрации: {{pub_date}}</p>
        <p>Дата начала: {{start_date}}</p>
        <p>Длительность: {{recruitment_time}} дней</p>
        <p>Статус: <span class="{{ challenge_status_en }}">{{ challenge_status }}</span></p>
        <p>Организатор: <a href="{% url 'userprofile:profile' creator.user.id %}"> {{creator.user.username}}</a></p>
        <p>Участники:
            {% for i in participants%}
                {% if i.role != 'banned' %}
                    <a href="{% url 'userprofile:profile' i.user.user.id %}">{{i.user.user.username}}, </a>
                {% endif %}
            {% endfor %}
        </p>
        <p>Описание: {{description}}</p>
        {% if user_role == 'creator'%}
        <section class='users_table'>
            <header>Участники</header>
            {% for i in participants %}
                {% if i.role == 'participant'%}
                <div class="users_table_item">
                    <p>{{i.user.user.username}}</p>
                    <img title="Удалить полльзователя и заблокировать его" class="delete_button" id='{{i.user.id}}' src="http://s1.iconbird.com/ico/2013/3/637/w128h128139396832524.png">
                </div>
                {% endif %}
            {% endfor %}
            <header>Заблокированные пользователи</header>
            {% for i in participants %}
                {% if i.role == 'banned' %}
                <div class="users_table_item">
                    <p>{{i.user.user.username}}</p>
                </div>
                {% endif %}
            {% endfor %}
        </section>
        {% endif %}
    </section>

</main>

{% endblock %}

{% block scripts %}
<script>
{% if not isparticipated %}
    add_button = document.getElementById("participate_button")
    console.log(document)
    add_button.onclick = function(){
        result = confirm("Подтвердить участие в выбранном челлендже? (Отменить действие будет невозможно)")
        if (result){
            $.ajax({
                type: "GET",
                url: "/challenge/participate/",
                data: { challenge: "{{ id }}" }
            }).done(function( msg ) {
                location.reload()
            });
        }
    };
{% endif %}

$("div.creator_edit_menu_button#delete_challenge").click(
    function () {
        result = confirm("Вы уверены, что хотите удалить выбранный челлендж? Отменить это действие будет невозможно.")
        if (result){
            $.ajax({
                type: "POST",
                url: "/catalog/deletechallenge/",
                data:{id : "{{ id }}", csrfmiddlewaretoken: getCookie('csrftoken')}
            }).done(function(msg){
                location.href = ("/catalog/")
            })
        }
    }
)

function getCookie(name) {
  const value = `; ${document.cookie}`;
  const parts = value.split(`; ${name}=`);
  if (parts.length === 2) return parts.pop().split(';').shift();
}


$('#edit_users').click(function(){
    $('.users_table').slideToggle({
        easing: 'swing',
        duration: 300,
    }) 
})

$('.delete_button').click(function(){
    res = confirm('Вы уверены что хотите заблокировать выбранного пользователя для этого челленджа?')
    if (res) {
        $.ajax({
            type: "POST",
            url:"/kickuser/",
            data: {
                userid: $(this).attr("id"),
                challengeid: {{ id }},
                csrfmiddlewaretoken: getCookie('csrftoken'),
            }
        }).done(function() {
            location.reload()
        })
    }
})
</script>

{% endblock %}