{% extends 'base.html' %} 
{% load static %}
{% block title %}Главная{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}
{% block metas %}<meta name="google-site-verification" content="vYFQDwLn-dY2v7kELSp4Lc-uMfxSIq9M4msinPP3EWA" />{% endblock %}


{% block main_content %}
<main class="index">
    <div class="wrapper">
        <div class="ad">
            Лучший арт будет помещен на главную страницу сайта на 1 месяц!
            <p>Автор этого арта:</p>
            <a href="#">kto-to</a>
        </div>
        <div class="index__counter1">
            <p>{{challenges_count}}</p>
            <p>Челленджей на сайте</p>
        </div>
        <div class="index__counter2">

        </div>
        <div class="index__counter3 ">
            <a href="{% url 'helper' %}" class="help_link">Как это работает?</a>
        </div>
    </div>
</main>
{% endblock %}