
div.news_block{
    position: relative;
    width: 90%;
    margin: auto;
    background-color: rgba(153, 172, 255, 0.253);
    height: 25vmax;
    margin-bottom: 5%;
    box-shadow: 0 14px 10px rgba(2, 4, 41, 0.281);
}
div.picture_in_block{
    display: inline-block;
    position: absolute;
    background-color: tomato;
    margin: 4%;
    width: 20vmax;
    height: 20vmax;
    overflow: hidden;
    
}
div.text_block{
    display: inline-block;
    position: absolute;
    margin: 4%;
    margin-left: 0px;
    width: 56%;
    height: 18vmax;
    left: 35%;
    padding: 1vmax;
    outline: 2px;
    outline-color:rgb(165, 132, 255);
    outline-style: solid;
}
img.type_1{
    height: 20vmax;
}
h3.text_block{
    color: rgb(12, 2, 41);
}